[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
	ignore = dirty
[submodule "mintty-colors-solarized"]
	path = mintty-colors-solarized
	url = https://github.com/karlin/mintty-colors-solarized.git
    ignore = dirty
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
